{erl_opts, [debug_info]}.
{deps, [
    {brod, "4.3.2"},
    {prometheus, "4.11.0"},
    {recon, "2.5.6"},
    {thrift, {git, "https://github.com/valitydev/thrift_erlang.git", {branch, "master"}}},
    {mg_proto, {git, "https://github.com/valitydev/machinegun-proto.git", {branch, "master"}}},
    {epg_connector, {git, "https://github.com/valitydev/epg_connector.git", {branch, "master"}}}
]}.

{relx, [
    {release,
        {progressor, "0.1"},
        [progressor, brod, epg_connector],
        [
            {dev_mode, false},
            {include_erts, false},
            {include_src, false},
            {sys_config, "config/sys.config"},
            {vm_args, "config/vm.args"},
            {extended_start_script, true}
        ]
    }
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [brod, progressor]}
]}.

{ct_opts, [
    {ct_hooks, [prg_ct_hook]}
]}.

{profiles, [
    {test, [
        {deps, [
            {meck, "0.9.2"}
        ]}
    ]}
]}.
