{erl_opts, [debug_info]}.
{deps, [
    {brod, "3.16.2"},
    {thrift, {git, "https://github.com/valitydev/thrift_erlang.git", {branch, "master"}}},
    {mg_proto, {git, "https://github.com/valitydev/machinegun-proto.git", {branch, "master"}}},
    {epg_connector, {git, "https://github.com/valitydev/epg_connector.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [brod, progressor]}
]}.
