[
    {progressor, [
        {defaults, #{
            storage => #{
                %% required
                client => prg_pg_backend,
                %% backend specific
                options => #{
                    %% see section 'epg_connector' 'pools'
                    pool => default_pool,
                    scan_pool => default_scan_pool,
                    front_pool => default_front_pool
                }
            },
            %% optional
            retry_policy => #{
                %% seconds
                initial_timeout => 3,
                backoff_coefficient => 1.2,
                %% seconds
                max_timeout => 180,
                max_attempts => 2,
                non_retryable_errors => [
                    some_reason,
                    any_term,
                    <<"Error message">>,
                    {temporary, unavilable}
                ]
            },
            %% optional, default process_step_timeout div 2

            %% seconds
            task_scan_timeout => 10,
            %% optional, default 100
            worker_pool_size => 200,
            %% optional, default 60 sec

            %% seconds
            process_step_timeout => 30
        }},

        {namespaces, #{
            'default/default' => #{
                %% required
                processor => #{
                    %% required
                    client => prg_echo_processor,
                    %% client specific
                    options => #{}
                },
                notifier => #{
                    client => default_kafka_client,
                    options => #{
                        topic => <<"default_topic">>,
                        lifecycle_topic => <<"default_lifecycle_topic">>
                    }
                }
            },
            'cached/namespace' => #{
                storage => #{
                    client => prg_pg_backend,
                    options => #{
                        pool => default_pool,
                        %% if namespace cached then need cache option, value must be equal db reference
                        cache => progressor_db
                    }
                },
                processor => #{
                    client => prg_ct_processor,
                    options => #{}
                }
            }
        }},

        %% hooks will be executed after init all namespaces
        {post_init_hooks, [
            %% {M,F,A}
            {prg_pg_cache, start, [
                #{
                    %% database reference (see epg_connector databases keys)
                    progressor_db =>
                        {
                            %% cached namespaces
                            ['cached/namespace'],
                            %% application name (will be used as repl slot name prefix)
                            "progressor"
                        }
                }
            ]}
        ]}
    ]},

    %%
    {epg_connector, [
        {databases, #{
            progressor_db => #{
                host => "postgres",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                %% see databases keys
                database => progressor_db,
                size => 10
            },
            default_scan_pool => #{
                database => progressor_db,
                size => 2
            },
            default_front_pool => #{
                database => progressor_db,
                size => 10
            }
        }},
        {async, enabled},
        {force_garbage_collect, true}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]},

    {brod, [
        {clients, [
            {default_kafka_client, [
                {endpoints, [{"kafka1", 9092}, {"kafka2", 9092}, {"kafka3", 9092}]},
                {auto_start_producers, true},
                {default_producer_config, []}
            ]}
        ]}
    ]}
].
