[
    {progressor, [
        {defaults, #{
            storage => #{
                %% required
                client => prg_pg_backend,
                %% backend specific
                options => #{
                    %% see section 'epg_connector' 'pools'
                    pool => default_pool,
                    scan_pool => default_scan_pool,
                    front_pool => default_front_pool
                }
            },
            %% optional
            retry_policy => #{
                initial_timeout => 3, %% seconds
                backoff_coefficient => 1.2,
                max_timeout => 180, %% seconds
                max_attempts => 2,
                non_retryable_errors => [
                    some_reason,
                    any_term,
                    <<"Error message">>,
                    {temporary, unavilable}
                ]
            },
            %% optional, default process_step_timeout div 2
            task_scan_timeout => 10, %% seconds
            %% optional, default 100
            worker_pool_size => 100,
            %% optional, default 60 sec
            process_step_timeout => 30 %% seconds
        }},

        {namespaces, #{
            'default/default' => #{
                %% required
                processor => #{
                    %% required
                    client => echo_processor,
                    %% client specific
                    options => #{}
                },
                notifier => #{
                    client => default_kafka_client,
                    options => #{
                        topic => <<"default_topic">>,
                        lifecycle_topic => <<"default_lifecycle_topic">>
                    }
                }
            }
        }}
    ]},

    %%
    {epg_connector, [
        {databases, #{
            progressor_db => #{
                host => "postgres",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                %% see databases keys
                database => progressor_db,
                size => 100
            },
            default_scan_pool => #{
                database => progressor_db,
                size => 1
            },
            default_front_pool => #{
                database => progressor_db,
                size => 10
            }
        }}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]},

    {brod, [
        {clients, [
            {default_kafka_client, [
                {endpoints, [{"kafka1", 9092}, {"kafka2", 9092}, {"kafka3", 9092}]},
                {auto_start_producers, true},
                {default_producer_config, []}
            ]}
        ]}
    ]}

].
