[
    {progressor, [
        {defaults, #{
            storage => #{
                %% required
                client => prg_pg_backend,
                %% backend specific
                options => #{
                    %% see application 'pg_backend' env 'pools'
                    pool => default_pool
                }
            },
            %% optional
            retry_policy => #{
                initial_timeout => 3, %% seconds
                backoff_coefficient => 1.2,
                max_timeout => 180, %% seconds
                max_attempts => 2,
                non_retryable_errors => [
                    some_reason,
                    any_term,
                    <<"Error message">>,
                    {temporary, unavilable}
                ]
            },
            %% optional, default process_step_timeout div 2
            task_scan_timeout => 10, %% seconds
            %% optional, default 100
            worker_pool_size => 100,
            %% optional, default 60 sec
            process_step_timeout => 30 %% seconds
        }},

        {namespaces, #{
            default => #{
                %% required
                processor => #{
                    %% required
                    client => echo_processor,
                    %% client specific
                    options => #{}
                }
            }
        }}
    ]},

    %%
    {epg_connector, [
        {databases, #{
            default_db => #{
                host =>"127.0.0.1",
                port => 5432,
                database => "progressor_db",
                username => "progressor",
                password => "progressor"
            }
        }},
        {pools, #{
            default_pool => #{
                %% see databases keys
                database => default_db,
                size => 10
            }
        }}
    ]},

    {canal, [
        {url, "http://vault"},
        {engine, kvv2}
    ]}

].
